/*------------------------------------*/
/* #COLOR */
/*------------------------------------*/

body {
  background-color: var(--neutral-100);
  color: var(--neutral-800);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
  }
}

/*------------------------------------*/

header {
  .header__logo svg {
    fill: var(--neutral-200);
  }

  .cartoon {
    background-color: var(--sunshine-100);
    border: 4px solid var(--neutral-200);

    @media (prefers-color-scheme: dark) {
      border-color: var(--neutral-700);
    }
  }
}

/*------------------------------------*/

.squeegee {
  mix-blend-mode: multiply;

  @media (prefers-color-scheme: dark) {
    stroke: var(--neutral-500);
    mix-blend-mode: screen;
  }
}

.sidekick {
  article,
  blockquote {
    background-color: var(--neutral-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--neutral-700);
    }
  }
}

/*------------------------------------*/

.footer__stripe {
  background-color: var(--sunshine-100);
  border-block: 1px solid var(--sunshine-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--sunshine-300);
    border-color: var(--sunshine-400);
    color: var(--neutral-800);
  }
}

/* * saves the border-bottom-color from needing an important */
.yelp__link {
  color: var(--neutral-700);

  @media (prefers-color-scheme: dark) {
    color: var(--neutral-200);
  }
}

/*------------------*/
/* #MENU */
/*------------------*/

.menu-content {
  background-color: var(--neutral-200);
  box-shadow: 0 0 0 100vmax var(--neutral-200);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-700);
    box-shadow: 0 0 0 100vmax var(--neutral-700);
  }
}

/*------------------------------------*/

.footer__list .one-two {
  @media (prefers-color-scheme: dark) {
    border-color: var(--pine-200);
  }
}

.hero__wrapper {
  @media (prefers-color-scheme: dark) {
    border-color: var(--neutral-100);
  }

  .hero__wrapper--start,
  .hero__wrapper--end {
    @media (min-width: 52rem) {
      border-color: var(--neutral-800);

      @media (prefers-color-scheme: dark) {
        border-color: var(--neutral-200);
      }
    }
  }
}

.hero__background {
  background-color: var(--neutral-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-700);
  }
}

.cleaner__wrapper {
  border-color: var(--neutral-800);

  @media (prefers-color-scheme: dark) {
    border-color: var(--neutral-200);
  }
}

.squeegee__line {
  border-color: var(--neutral-800);

  @media (prefers-color-scheme: dark) {
    border-color: var(--neutral-200);
  }
}
