/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--pine-200);
}

a:hover {
  color: var(--pine-300);
  text-decoration: none;
}

a:focus {
  color: var(--pine-400);
}

button {
  border: none;
  background-color: var(--neutral-200);
  font-size: var(--stevens);
  font-family: var(--font-sans);
  font-weight: 400;
  box-shadow: var(--troposphere);
  color: var(--pine-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-800);
    box-shadow: var(--stratosphere);
    /* TODO: document why its important */
    border: 2px solid var(--neutral-700) !important;
  }
}

/*------------------------------------*/

@media (min-width: 50rem) {
  .menu-content a {
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: var(--hover-timing);
    text-decoration: none;
    color: var(--pine-300);

    @media (prefers-color-scheme: dark) {
      color: var(--neutral-200);
    }
  }

  /* TODO: focus */
  .menu-content a:hover {
    text-decoration: underline;
    background-color: var(--neutral-300);

    @media (prefers-color-scheme: dark) {
      background-color: var(--pine-100);
      color: var(--neutral-700);
    }
  }

}

/*------------------------------------*/

/* ? are these links */
header svg {
  padding: 0.8rem;
  border-radius: var(--tamarack);
  transition: var(--hover-timing);
}

header svg:where(:hover, :focus) {
  background-color: rgba(0, 0, 0, 0.5); /* TODO variable */
}

.footer__list a {
  padding: var(--tamarack);
  border-radius: var(--tamarack);
  transition: var(--hover-timing);
}

.footer__list a:where(:hover, :focus) {
  background-color: var(--neutral-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--neutral-600);
  }
}

.yelp__link:where(:hover, :focus) {
  /* * overwrites .footer__list a: with higher specificity */
  background-color: transparent !important;
}

.yelp__link svg {
  border-radius: var(--tamarack);
  transition: var(--hover-timing);
}

.yelp__link svg:where(:hover, :focus) {
  background-color: var(--neutral-200);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--pine-hs), calc(var(--pine-l) - 13%));
  }
}

.footer__stripe {
  a {
    color: var(--sunshine-400);
    transition: var(--hover-timing);

    /* TODO: This needs love but I havent designed it */
    /* @media (prefers-color-scheme: dark) {
      color: var(--sunshine-100);
    } */
  }

  a:hover {
    color: var(--neutral-700);
  }

  a:focus {
    color: var(--neutral-800);
  }
}
