/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

/* https://type-scale.com 1.2 minor third */

body {
  font-family: var(--font-sans);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  /* browser reset */

  font-family: var(--font-serif);
  font-weight: 500;
  font-style: italic;
  margin-block-start: 0;
}

h1,
.freel {
  font-size: var(--freel);
  line-height: 1.6;
}

h2,
.jobs {
  font-size: var(--jobs);
}

h3,
.rose {
  font-size: var(--rose);
  line-height: calc(var(--rose) * 1.5);
}

h4,
.houghton {
  font-size: var(--houghton);
}

h5,
.relay {
  font-size: var(--relay);
}

h6,
.stevens {
  font-size: var(--stevens);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin-block-end: var(--rose);
}

p, li, address {
  font-weight: 300;
  line-height: 1.35;
}

small,
.tamarack {
  font-size: var(--tamarack);
}

@media (min-width: 30rem) {
  .end {
    text-align: right;
  }
}

blockquote {
  font-style: italic;
  max-width: var(--neptune);
  margin-inline: auto;
  margin-block: var(--freel);
  display: flex;
  flex-direction: column;
  font-size: var(--houghton);
}

address {
  line-height: 1.5;
  /* reset */
  font-style: normal;
}

.br__venus-visible {
  display: none;
  @media (min-width: 30rem) {
    display: initial;
  }
}

.longline {
  /* * the email is just really long so trying to make it fit without it being too obvious */
  font-size: clamp(var(--tamarack), 1.667vw, var(--stevens));
}

:is(.hero, .sidekick) h2 {
  font-size: clamp(var(--houghton), 1.667vw, var(--jobs));
}

blockquote h3 {
  font-size: clamp(var(--houghton), 1.667vw, var(--jobs));
}

.page-title {
  font-size: var(--rose);
  max-width: var(--neptune);
  margin-inline: auto;
  margin-block-end: var(--freel);
  padding-inline: var(--stevens);

  /* ? should this be a clamp */
  @media (min-width: 30rem) {
    font-size: var(--jobs);
  }
}

/*------------------------------------*/
/* #PAGE TITLE */
/*------------------------------------*/

.page-title a {
  padding-block: var(--tamarack);
  transition: var(--hover-timing);
  border-radius: var(--tamarack);
  line-height: var(--freel);
}

.page-title a:where(:hover, :focus) {
  background-color: var(--neutral-200);
  
  @media (prefers-color-scheme: dark) {
    /* TODO this contrast is nowhere near strong enough */
    background-color: var(--pine-100);
  }
}