---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---
<Header />
<main>

  <article class="triad">
    <section class="one-two">
      <h2>We must have missed a spot!</h2>
      <p class="paragraph-styles">
        Sorry{" "}
        <span role="img" aria-label="Pensive emoji">
          😔
        </span>{" "}
        we couldn&apos;t find what you were looking for.
        <br />
        <a href="/">Go home</a>.
      </p>
    </section>
  </article>
</main>
<Footer />