<ul class="nav-items">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/washing">Window Washing</a></li>
  <li><a href="/screens">Broken Screen Replacement</a></li>
</ul>